venv/
env/
.venv/

db.sqlite3
db.sqlite3-journal
db_old.sqlite3
db_old2.sqlite3
db_backup*.sqlite3

media/
media_old/
media_backup.zip

__pycache__/
*.pyc
*.pyo

.idea/

.DS_Store
Thumbs.db

.env
*.log

staticfiles/